@font-face {
	src: url(fonts/Roboto_Mono/RobotoMono-Regular.ttf);
	font-family: "Roboto_Mono";
}
@font-face {
	src: url(fonts/Miltonian_Tattoo/MiltonianTattoo-Regular.ttf);
	font-family: "Miltonian_Tattoo";
}
@font-face {
	src: url(fonts/Monoton/Monoton-Regular.ttf);
	font-family: "Monoton";
}
@font-face {
	src: url(fonts/Miltonian/Miltonian-Regular.ttf);
	font-family: "Miltonian";
}
@font-face {
	src: url(fonts/Baloo_2/Baloo2-Regular.ttf);
	font-family: "Baloo_2";
}
@font-face {
	src: url(fonts/Parisienne/Parisienne-Regular.ttf);
	font-family: "Parisienne";
}